div#main {
  margin-top: 2.5%;
}

span.dots {
  float: right;
}

h1.title {
  font-size: 3.5em;
}

h4.groups {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

div.chord-header {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.abbrv {
  font-style: italic;
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
}

.container {
  padding-bottom: 15px;
}

.no-break {
  page-break-inside: avoid;
}

a {
  color: #FFA61C;
}

a:hover {
  color: #ff7518;
}

/* the following svg code varies from tympanus.net which includes
   a most useful tutorial on making responsive SVGs (for most browsers)..
   http://tympanus.net/Tutorials/ResponsiveSVGs/index3.html
   and the padding-hack found here...
   http://thatemil.com/blog/2014/04/06/intrinsic-sizing-of-svg-in-responsive-web-design/
*/
div.svg-divbox {
  height: 0;
  padding-top: 15%;
  position: relative;
}

svg.svg-keyboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
