div#main {
  margin-top: 2.5%;
}

span.dots {
  float: right;
}

h1.title {
  font-size: 3.5em;
}

/* the following svg code varies from tympanus.net which includes
   a most useful tutorial on making responsive SVGs (for most browsers)..
   http://tympanus.net/Tutorials/ResponsiveSVGs/index3.html
   and the padding-hack found here...
   http://thatemil.com/blog/2014/04/06/intrinsic-sizing-of-svg-in-responsive-web-design/
*/
div.svg-divbox {
  height: 0;
  padding-top: 15%;
  position: relative;
}

svg.svg-keyboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

i.fa {
  font-size: 0.8em;
  cursor: pointer;
  cursor: hand;
  color: rgb(255,200,117);
  vertical-align: middle;
  padding-bottom: 5px;
  margin-left: 0.8em;
}

i.fa.selected {
  color: rgb(255,163,24);
}

i.fa:hover {
  color: rgb(255,163,24);
}

.no-break {
  page-break-inside: avoid;
}

a {
  color: #FFA61C;
}

a:hover {
  color: #ff7518;
}
