rect {
  stroke-width:1;
  stroke:rgb(200, 200, 200)
}

rect.white-key {
  fill:rgb(255, 255, 255);
}

rect.black-key {
  fill:rgb(0, 0, 0);
}

rect.white-key.selected {
  fill:rgb(255,166,28);
}

rect.black-key.selected {
  fill:rgb(255,117,24);
}
