/* add the search text, taken from stackoverflow:
  http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box
*/
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .search-text {
  position: absolute;
  pointer-events: none;
}

/* align icon */
.center-addon .search-text {
  z-index: 2;
  width: 100%;
  text-align: center;
  height: 100%;
}

.search-text.no-items {
  color: #FFA61C;
  font-weight: bold;
}

.search-text.items {
  color: darkgrey;
}

/* add padding  */
/*.selectize-input {
  padding-top: 1.5em !important;
}*/
